<nav role="navigation">
	<h2>{{ site.data.nav[page.slug].title }}</h2>
	<ul>

		{% for section in site.data.nav[page.slug].menu %}
		<li>
			<a href="/{{ site.data.nav[page.slug].base }}/{{ section.page }}">
				{{ section.title }}
			</a>

			{% if section.items != null %}
			<ul>

				{% for item in section.items %}
				<li>
					<a href="/{{ site.data.nav[page.slug].base }}/{{ item.page }}">
						{{ item.title }}
					</a>
				</li>
				{% endfor %}

			</ul>
			{% endif %}

		</li>
		{% endfor %}

	</ul>
</nav>
